name: build_and_test

on:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build_and_test_macos:
    runs-on: self-hosted
    env:
      GH_PAT: ${{ secrets.GH_PAT }}
    steps:
      - uses: actions/checkout@v6.0.1
        with:
          persist-credentials: false

      - name: build_and_test
        run: |
          git config --global credential.helper 'cache --timeout=3600'
          git config --global url."https://${GH_PAT}@github.com/".insteadOf "https://github.com/"
          xcrun swift test | xcbeautify --renderer github-actions --is-ci
